@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap');

@media screen and (min-width: 1440px) {

    body {
        display: flex;
        /*background-color: yellow;*/
        align-items: center;
        justify-content: center;
    };

    .card {
        background-color: white;
        border: 1px solid black;
        border-radius: 5px;
    }

    .learning {
        background-color: yellow;
        color: black;
        font-weight: bold;
        padding: 5px;
        font-family: Figtree;
        border-radius: 2px;
        display: inline;
    }
}